{% extends "layout.html" %}
{% block content %}
<h2>Шаг 1: Загрузите фон сертификата</h2>
<form method="post" enctype="multipart/form-data" class="mt-4">
    <div class="form-group">
        <label for="template">Выберите изображение фона (PNG или JPG):</label>
        <input type="file" name="template" accept=".png, .jpg, .jpeg" required class="form-control-file">
        <small class="form-text text-muted">Максимальный размер файла: 16 МБ.</small>
    </div>
    <button type="submit" class="btn btn-success">Далее</button>
</form>
{% endblock %}
